{{ cms_render_widget('App\\Widgets\\Admin\\SideMenuWidget') }}
{# Just for keeping track over structure #}
{#<ul class="c-sidebar-nav">#}
{#    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">#}
{#        <a#}
{#            class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">#}
{#            <svg class="c-sidebar-nav-icon">#}
{#                <use xlink:href="{{ asset('build/@coreui/sprites/free.svg#cil-puzzle') }}"></use>#}
{#            </svg>#}
{#            Base#}
{#        </a>#}
{#        <ul class="c-sidebar-nav-dropdown-items">#}
{#            <li class="c-sidebar-nav-item">#}
{#                <a class="c-sidebar-nav-link" href="base/tooltips.html"><span#}
{#                        class="c-sidebar-nav-icon"></span> Tooltips#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
{#</ul>#}
